In [ ]:
# Function to evaluate a given expression
def evaluate(exp):
    # Separate out entities in the expression
    words = exp.split()

    # Initialize list for operators and values
    operators = []
    values = []

    # Function to apply the operator and evaluate the expression
    def apply_operator():
        operator = operators.pop()
        rvalue = values.pop()
        lvalue = values.pop()
        if operator == '+':
            values.append(lvalue + rvalue)
        elif operator == '-':
            values.append(lvalue - rvalue)
        elif operator == '*':
            values.append(lvalue * rvalue)
        elif operator == '/':
            values.append(lvalue / rvalue)

    # Loop through each word and store it in corresponding lists
    i = 0
    while i < len(words):
        word = words[i]
        if word.isdigit():
            values.append(float(word))
        elif word == 'plus':
            operators.append('+')
        elif word == 'minus':
            operators.append('-')
        elif word == 'times':
            operators.append('*')
        elif word == 'divided':
            operators.append('/')
            i += 1  # Skip the word "by"
        elif word == '(':
            operators.append('(')
        elif word == ')':
            # Evaluate the expression until the parenthesis closes
            while operators and operators[-1] != '(':
                apply_operator()
            operators.pop()
        i += 1

    # Apply remaining operators
    while operators:
        apply_operator()

    return values[0]

In [ ]:
num=5
fact=1
for i in range(1,num+1):
  fact=fact*i
print(fact)

120

In [ ]:
#file handling
#writinf to a file
file=open("student_record.txt","w") #write mode
file.write("Ruhani,182,A+\n")
file.write("bubu,183,A-\n")
file.write("dudu,184,B\n")
file.close()

In [ ]:
file=open("student_record.txt","w")
file.write("jojo,182,c\n") #contents are overwritten
file.close()

In [ ]:
file=open("student_record.txt","a") # append mode, adding in the last
file.write("soso,282,c\n")
file.close()

In [ ]:
file=open("student_record.txt","r") #reading the contents of the file, read mode
contents=file.read()
print(contents)
file.close()

jojo,182,c
soso,282,c

In [ ]:
#reading the contents line by line
file=open("student_record.txt","r")
print(file.readline())
print(file.readline())
file.close()

jojo,182,c

soso,282,c

In [ ]:
file=open("student_record.txt","r")
for line in file:
  print(line)
file.close()

jojo,182,c

soso,282,c

In [ ]:
file=open("student_record.txt","r")
for line in file:
  print(line.strip())#strip will remove the additional new line
file.close()

jojo,182,c
soso,282,c

In [ ]:
#working using with block

with open("student_record.txt","r") as file:
  for line in file:
    print(line.strip())

jojo,182,c
soso,282,c

In [ ]:
with open("student_record.txt","r") as file:
  for line in file:
    print(line.strip())
  file.write('helo.2.j')
  print("----")
  for line in file:
    print(line.strip())

jojo,182,c
soso,282,c

UnsupportedOperation: not writable

In [ ]:
with open("student_record.txt","w") as file:
  for line in file:
    print(line.strip())
  file.write('helo.2.j')
  print("----")
  for line in file:
    print(line.strip())

UnsupportedOperation: not readable

In [ ]:
with open("student_record.txt","r") as file:
  for line in file:
    print(line.strip())

with open("student_record.txt","a") as file:
  file.write("hh,23,a\n")


with open("student_record.txt","r") as file:
  for line in file:
    print(line.strip())

hh,23,a

In [ ]:
#exception handling : in the case of file not present
try:
   with open("student_record1.txt","r") as file:
    for line in file:
      print(line.strip())
except:
  print("file not found")

  # https://colab.research.google.com/drive/1x-mf-vQH-lXhboDIM5aSSHJPzqUHtiEo?usp=sharing

file not found

In [ ]:
#take input
#string ip ( defaut)

name=input("name?")
print(name)
print(type(name))

name?ru
ru
<class 'str'>

In [ ]:
var1 = "10"
print(type(var1))

var = 10
print(type(var))

<class 'str'>
<class 'int'>

In [ ]:
# int input
age=int(input("0write age"))
print(age)
print(type(age))

0write age22
22
<class 'int'>

In [ ]:
#gettki g float
heigt=float(input("enter height"))
print(height)
print(type(height))

enter height4

NameError: name 'height' is not defined

In [ ]:
# take multiple input
x,y,z=input("enter three numbers saparated by space").split() #split for differentiating names
print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

enter three numbers saparated by space12 34 56
12
34
56
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
#map

x,y,z=map(int,input("enter three numbers saparated by space").split()) #split for differentiating names
print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

enter three numbers saparated by space12 34 56
12
34
56
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
#multiple input on multiple lines
num=[]

for i in range(5):
  num=int(input(f"enter the {i+1} number"))
  number.append(num)
print(numbers)

# chatgpt

enter the 1 number3

NameError: name 'number' is not defined

In [ ]:
number = list(map(int,input("enter the number separated by space").split()))
print(number)

enter the number separated by space1 2 3 4 5 6 7 8 9
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
age=int(input("write age"))
print(age)
print(type(age))

write age-5
-5
<class 'int'>

In [ ]:
#ip validation

while True:
  age=input("write age")
  if age.isdigit() and int(age)>0:  # isdigit is function
    age=int(age)
    break
  else:
    print("invalid age")
print(age)
print(type(age))

write age
invalid age
write age-3
invalid age
write age0
invalid age
write agesdfg
invalid age
write age2
2
<class 'int'>

In [ ]:
def sqr(x):
  return x**2
v=list(map(sqr, range(5)))
print(v)

[0, 1, 4, 9, 16]

In [ ]:
# read, append, write(overwriting)

session 4

In [ ]:
#ceaser's cipher
ord("a")  # ascii value

chr(97)

'a'

In [ ]:
file1=open("message.txt","w")
file1.write("abd")

3

In [ ]:
def message_encrypt(text, shift):
  encrypted_text = ""  # Initialize encrypted_text here
  for char in text:
    if char.isalpha():# if its alphabet
      shift = shift % 26
      if char.islower():
        encrypted_char = chr(ord("a") + (ord(char) - ord("a") + shift) % 26)
      else:
        encrypted_char = chr(ord("A") + (ord(char) - ord("A") + shift) % 26)
      encrypted_text += encrypted_char # Append to the existing variable
    else:
      encrypted_text += char # Append to the existing variable
  return encrypted_text

In [ ]:
with open("message.txt","r") as file1:
  plain_text=file1.read()
print(plain_text)

In [ ]:
shift=3
encrypted_text=message_encrypt(plain_text,shift)
print(encrypted_text)

In [ ]:
decrypted_text=message_encrypt(encrypted_text,-shift)
print(decrypted_text)

In [ ]:
from re import T
#tuples: collection of items which are ordered, allow duplicates and not changable

var1=(1,2.5,"hi",True) # usw () in tuple
print(var1)
print(type(var1))

(1, 2.5, 'hi', True)
<class 'tuple'>

In [ ]:
var1=(1,4,7,3,9)
print(var1)
print(var1[0])
print(var1[4])
print(var1[-1]) # acces by indexs

(1, 4, 7, 3, 9)
1
9
9

In [ ]:
var1=(1,4,7,4,5,7,8,3)
print(var1)

(1, 4, 7, 4, 5, 7, 8, 3)

In [ ]:
var1[2]=100 # not changable

TypeError: 'tuple' object does not support item assignment

In [ ]:
#single elemnt tuple
var1=(1,) # give comma
print(var1)
print(type(var1))

(1,)
<class 'tuple'>

In [ ]:
var1=(1) # will cosider as int
print(var1)
print(type(var1))

1
<class 'int'>

In [ ]:
#concatenate of list and tupple
var1=(1,2,3)
var2=(4,5,6)
print(var1+var2)
print(var1,var2)

(1, 2, 3, 4, 5, 6)
(1, 2, 3) (4, 5, 6)

In [ ]:
var1=[1,2,3]
var2=[4,5,6]
print(var1+var2)

[1, 2, 3, 4, 5, 6]

In [ ]:
#repitation
var1=(1,2,3)
print(var1*3) # not multiply its repatation

var2=[1,2,3]
print(var2*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
#nasted tuples
var1=(1,2,3,(4,5,6))
print(var1)
print(var1[3])
print(var1[3][1])

(1, 2, 3, (4, 5, 6))
(4, 5, 6)
5

In [ ]:
va1=(1,2,[3,6])
print(va1)

(1, 2, [3, 6])

In [ ]:
va1[2][1]=100
print(va1)

(1, 2, [3, 100])

In [ ]:
var2=[1,2,(3,5)]
var2[2][1]=100
print(var2)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#dictionaries: collection od data in terms of key:value pair
#ordred by keys, changable and does not allow duplicates
var1={"name":"ruhani",
      "age":20,
      "roll":2201760} # use { }
print(var1)
print(type(var1))

{'name': 'ruhani', 'age': 20, 'roll': 2201760}
<class 'dict'>

In [ ]:
var1["name"] #indexed with keys

'ruhani'

In [ ]:
var1["age"]=33
print(var1)

{'name': 'ruhani', 'age': 33, 'roll': 2201760}

In [ ]:
var1={"name":"ruhani",
      "age":20,
      "roll":2201760,
      "name":"bubu"} #does not allow duplicates
print(var1)

{'name': 'bubu', 'age': 20, 'roll': 2201760}

In [ ]:
#how to add new key:value paie
var1["gender"]="female"
print(var1)

{'name': 'bubu', 'age': 20, 'roll': 2201760, 'gender': 'female'}

In [ ]:
# accesing value throung get()
print(var1.get("name"))

bubu

In [ ]:
#removing element
var1.pop("age")
print(var1)

{'name': 'bubu', 'roll': 2201760, 'gender': 'female'}

In [ ]:
# usi ng popitem()
var1.popitem() # remov the last item
print(var1)

{'name': 'bubu', 'roll': 2201760}

In [ ]:
#clear the dict
var1.clear() # valies will bw cleared
print(var1)

{}

In [ ]:
var1={"name":"ruhani",
      "age":20,
      "roll":2201760}
print(var1)

{'name': 'ruhani', 'age': 20, 'roll': 2201760}

In [ ]:
t1=var1.keys()
print(t1)
print(type(t1)) #provide collection of keys

dict_keys(['name', 'age', 'roll'])
<class 'dict_keys'>

In [ ]:
# collection of all valie
t2=var1.values()
print(t2)
print(type(t2))

dict_values(['ruhani', 20, 2201760])
<class 'dict_values'>

NameError: name 't' is not defined

In [ ]:
#list comprehension
# systax
# new_list=[expression for i in iterable condition == True]

var1=[i**2 for i in range(10) if i%2==0]
print(var1)

[0, 4, 16, 36, 64]

In [ ]:
var2=[i//2 for i in range(2,50,3)] # if no condition , expression is evaluated for all the values
print(var2)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23]

In [ ]:
# dictionary comprehension
var1={i:i**2 for i in range(10) if i%2==0}
print(var1)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
var2={i:chr(65+i) for i in range(26)}
print(var2)

{0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E', 5: 'F', 6: 'G', 7: 'H', 8: 'I', 9: 'J', 10: 'K', 11: 'L', 12: 'M', 13: 'N', 14: 'O', 15: 'P', 16: 'Q', 17: 'R', 18: 'S', 19: 'T', 20: 'U', 21: 'V', 22: 'W', 23: 'X', 24: 'Y', 25: 'Z'}

In [ ]:
# dictionary of dictonary

var2={"name":hbbuh","age":22,"roll":2201760}
var3={"name":hbbuh","age":22,"roll":2201760}


var4={2:var2,3:var3}
print(var4[2]["name"])

SyntaxError: unterminated string literal (detected at line 3) (<ipython-input-102-abed5a7a9103>, line 3)

In [ ]:
#write a python code to check give fib sequence til given numver
def fib_sequence(n):
  fib_list=[0,1]
  while fib_list[-1] + fib_list[-2] <= n:
    fib_list.append(fib_list[-1] + fib_list[-2])
  return fib_list

print(fib_sequence(50))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
 # i need to write a piecof code which simulate playing
 #the lottery picks betweem 0 to9
 #if our number are same, then i get 80$ which is +80
 #if our number are fiff, then i loose 10$ which is -10

SyntaxError: incomplete input (<ipython-input-1-8533f1f476ea>, line 7)