In [ ]:
list=[12,44,66,4,83]
print(list)

[12, 44, 66, 4, 83]

In [ ]:
print(type(list))

<class 'list'>

add elements to the list

In [ ]:
#append goes last
list.append(100)
print(list)

[12, 44, 66, 4, 83, 100]

In [ ]:
#insert(index,ele)
list.insert(0,1000)
print(list)

[1000, 12, 44, 66, 4, 83, 100]

removing elements from the list

In [ ]:
#remove element
list.remove(1000)
print(list)

[12, 44, 66, 4, 83, 100]

In [ ]:
#remove using its index
#pop(index)
list.pop(0)
print(list)

[44, 66, 4, 83, 100]

looping

In [ ]:
for i in range (1,6):
  print(i)

1
2
3
4
5

In [ ]:
list2=["apple","banana","mango"]
for i in list2:
  print("today i ate",i)

today i ate apple
today i ate banana
today i ate mango

In [ ]:
#while loop- repeate until condition is satisfied
i=1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

if - else

In [ ]:
sl=180
if (sl>=130):
  print("high")
else:
  print("low")

high

In [ ]:
sg_list=[122,233,166,723]
for i in range(len(sg_list)):
  if (sg_list[i]>130):
    print("high")
  else:
    print("low")

low
high
high
high

In [ ]:
num=18
if (num%2==0):
  print("even")
elif (num%3==0):
  print("divisible by 3")
else:
  print("wowwwwwwwwwwwwww")

even

In [ ]:
#factorial
num=5
fact=1
for i in range(1,num+1):
  fact=fact*i
print(fact)

120

In [ ]:
data_string="2030-8-12"
def is_leap_year(data_string):
  year=int(data_string[:4])
  if(year%4==0 and year%100!=0) or (year%400==0):
    return True
  else:
    return False
is_leap_year(data_string)

False

In [ ]:
data_string="2023-6-12"
def is_leap_year(data_string):
  year=int(data_string[:4])
  if(year%4==0 and year%100!=0) or (year%400==0):
    return True
  else:
    return False


def days(data_string):
  month=int(data_string[5:6])
  if(month==2):
    if(is_leap_year(data_string)):
      print("29")
    else:
      print("28")
  elif(month%2==0):
    print("30");
  else:
    print("31")

days(data_string)

30